@import '../../scss/themes';


.c-card {
  background-color: $dark;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px $darkShadow;
  transition: transform 0.3s;
  display: flex;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

 

  &__left {
    width: 100%;
    max-height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid $lightDark;
    }
  }

  &__right {
    width: 100%;
    padding: 15px;
    
    &__header {
      display: flex;
      flex-direction: column;

      &  [card-title] {
        font-weight: 600;
        font-size: 25px;
        padding: 5px;
      }

      &  [card-subtitle] {
        font-weight: 300;
        font-size: 20px;
        padding: 5px;
        letter-spacing: 1px;
      }
    }

    & [card-body] {
      & > p {
        color: $gray;
        font-size: 20px;
        display: grid;
        gap: 5px;

        & > span {
          color: $white;
        }
      }
    }
    
  }
}