<div class="c-paginator">
    <button *ngIf="pagination?.prev"
      class="c-paginator__prev"
      (click)="goPrevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>
    <span *ngIf="pagination?.pages"
      class="c-paginator__text"
      >
        Page {{ currentPage }} Of {{ pagination.pages }}
    </span>
    <button *ngIf="pagination?.next"
      class="c-paginator__next"
      (click)="goNextPage()"
      [disabled]="currentPage === pagination.pages"
    >
      Next
    </button>
    <button *ngFor="let button of customButtons"
      class="c-paginator__next"
      (click)="onAction(button.action)"
    >
      {{button.label}}
    </button>
</div>