// :host {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background-color: black;
// }
@import '../scss/themes';

.c-not-found {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 20px;

  &__message {
    font-size: 24px;
    color: $gray;
    border: 2px solid $red;
    padding: 20px;
    border-radius: 10px;

    & a {
      color: $white;
      text-decoration: none;
    }
  }
}