<div class="c-home">
  <div class="c-home__container">
    <h3 class="c-home__container__heading">Rick & Morty Application</h3>
    
    <div class="c-home__container__header">
      <div class="c-home__container__header__search">
        <form 
          [formGroup]="searchForm"
          class="c-home__container__header__search__form"
        >
        <div>
            <input 
            (keyup.enter)="filterByName()"
            formControlName="search"
            class="c-home__container__header__search__form__input"
            placeholder="e.g: Nick James"
          >
          <button
            *ngIf="isFilter"
            class="c-home__container__header__search__form__button"
            (click)="clear()"
          >
            CLEAR
          </button>
        </div>
          
          <span 
            class="c-home__container__header__search__form__hint"
            *ngIf="!getHasValidFormat(searchForm.controls['search'])"
          >
            (Search Characters by Name and press Enter)
          </span>
          <span 
            class="c-home__container__header__search__form__hint--error"
            *ngIf="getHasValidFormat(searchForm.controls['search'])"
          >
            Please enter a valid value (Chars & nnmbers allowed)
          </span>
        </form>
      </div>
    
      <div class="c-home__container__header__paginator" *ngIf="(data$ | async) as data">
          <app-paginator 
            [pagination]="data.info" 
            (nextEvent)="loadItems($event)"
            (prevEvent)="loadItems($event)"
          >
          </app-paginator>
      </div>
    </div>

      
    <!-- <app-spinner></app-spinner> -->
    <div class="c-home__container__list" *ngIf="(data$ | async) as data; else showSpinner">
      <app-card 
        *ngFor="let item of data?.results"
        (click)="goToDetails(item)">
        <!--left side -->
        <img card-avatar [src]="item.image" />
        <!-- right side -->
          <span card-title> {{item.name}} </span>
          <span card-subtitle> <app-status [status]="item.status"></app-status> {{ item.status | uppercase }} </span>
          <span *ngIf="item.type" card-subtitle> - {{ item.type }} </span> 

      </app-card>  
    </div>

    <div class="c-home__container__paginator" *ngIf="(data$ | async) as data">
        <app-paginator 
          [pagination]="data.info" 
          (nextEvent)="loadItems($event)"
          (prevEvent)="loadItems($event)"
        >
        </app-paginator>
    </div>
   
    <div *ngIf="error$ | async" class="c-home__container__list--error">
      Oops, an error has occurred. Try again.
    </div>
      
    <ng-template #showSpinner >
      <app-spinner *ngIf="!(error$ | async)"></app-spinner>
    </ng-template>
  
  </div>
</div>
